.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  padding: 0 20px;
  background: #fff;
  .user-name {
    color: #aaa;
    float: right;
  }
}
